<h1 class="text-center">Deposite</h1>
<div class="col-md-8 offset-md-3">
    <div *ngIf="successMsg" class="alert alert-success">
        {{successMsg}}
    </div>
    <div *ngIf="errorMsg" class="alert alert-danger">
        {{errorMsg}}
    </div>
    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>Enter Amount</label>
            <input type="number" id="deposit" class="form-control" name="deposit" placeholder="Enter amount"
                [(ngModel)]="depositAmount" />
        </div>
        <br>
        <button type="submit" class="btn btn-success">Submit</button>
    </form>
</div>